body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.center {
  text-align: center;
}
.textstyle {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list-group{
  background-color: gray;
}

.border{
 border: none;background: white;
}
